<mat-card class="container">
  <header class="container__header">
    <div class="container__title">{{ 'confirmation.title' | translate }}</div>
  </header>
  <mat-card-content class="container__content">
    {{ 'confirmation.confirmation' | translate }}
  </mat-card-content>
  <mat-card-actions>
    <button class="container--button" type="submit" mat-raised-button type="submit" (click)="toLoginForm()"
      color="warn">{{ 'confirmation.submit' | translate }}</button>
  </mat-card-actions>
</mat-card>
