<div>
  <mat-card class="container">
    <header class="container__header">
      <div class="container__title">
        <span class="container__title" *ngIf="selectedArticle === null; else edit">
         {{ 'articleForm.titleCreate' | translate }}
        </span>
        <ng-template #edit>
          <span class="container__title">{{ 'articleForm.titleEdit' | translate }}</span>
        </ng-template>
      </div>
    </header>
    <mat-card-content>
      <form [formGroup]="articleForm" (ngSubmit)="submitForm()">
        <p>
          <mat-form-field class="container__field" appearance="fill">
            <mat-label>{{ 'articleForm.titlePlaceholder' | translate }}</mat-label>
            <input matInput formControlName="title" placeholder="{{ 'articleForm.titlePlaceholder' | translate }}"
              name="title" required>
            <mat-error *ngIf="title.errors?.['title']">{{ 'articleForm.titleError' | translate }}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="container__field" appearance="fill">
            <mat-label>{{ 'articleForm.bodyPlaceholder' | translate }}</mat-label>
            <textarea matInput 
              cdkTextareaAutosize 
              #autosize="cdkTextareaAutosize"
              formControlName="body" placeholder="{{ 'articleForm.bodyPlaceholder' | translate }}"
              name="body" required></textarea>
            <mat-error *ngIf="body.errors?.['body']">{{ 'articleForm.bodyError' | translate }}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="container__field" appearance="fill">
            <mat-label>{{ 'articleForm.descriptionPlaceholder' | translate }}</mat-label>
            <textarea matInput 
              cdkTextareaAutosize 
              #autosize="cdkTextareaAutosize" 
              formControlName="description"
              placeholder="{{ 'articleForm.descriptionPlaceholder' | translate }}" name="description"
              required></textarea>
            <mat-error *ngIf="description.errors?.['description']">{{ 'articleForm.descriptionError' | translate }}
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" class="container__field">
            <mat-chip-list #chipList aria-label="Enter tags" formControlName="tagList">
              <mat-chip *ngFor="let tag of articleForm.controls['tagList'].value" [selectable]="selectable"
                [removable]="removable" (removed)="removeTag(tag)">
                {{ tag }}
                <span matChipRemove class="bi bi-x" *ngIf="removable"></span>
              </mat-chip>
              <input placeholder="{{ 'articleForm.tagsPlaceholder' | translate }}" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addTag($event)" />
            </mat-chip-list>
          </mat-form-field>
        </p>
        <div>
          <button class="btn btn-primary my-1" type="button" (click)="fileUpload.click()">{{ 'articleForm.filePlaceholder' |
            translate}}
          </button>
          <input hidden type="file" (change)="onFileSelect($event)" #fileUpload id="fileUpload" name="fileUpload"
            accept="image/*" required />
          <div *ngIf="fileSource">
            <img class="container__field--image" [src]="fileSource" width="300" height="150" />
          </div>
        </div>
        <button class="btn btn-primary my-2" type="submit" color="warn">{{ 'articleForm.submit' | translate }}</button>
        <div *ngIf="selectedArticle?.comments">
          <header class="container__form--title">{{ 'articleForm.commentsTitle' | translate }}</header>
          <div *ngFor="let comment of articleForm.controls['comments'].value">
            <p>
              {{ comment.body | slice: commentIndex : commentMaxLength }}
              <span *ngIf="comment.body.length >=commentMaxLength">...</span> |
              <span *ngIf="comment.author; else anonymousComment">{{comment.author?.username}} |</span>
              <ng-template #anonymousComment>
                {{ 'articleForm.anonymous' | translate }}
              </ng-template>
              {{comment.createdAt | date: 'short'}} 
              <button class="container__form--button" type="button" (click)="deleteComment(selectedArticle.slug, comment.id)">
                {{ 'articleForm.commentDelete' | translate}}
              </button>
            </p>
          </div>
        </div>
        <div class="container__bottom">
          <span>{{ 'articleForm.toAdminPanel' | translate }}</span>
          <button mat-button>
            <span class="bi bi-arrow-right" (click)="toAdminPanel()"></span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
