<div class="search">
  <input class="search__form" type="text" [(ngModel)]="searchTerm"
    placeholder="{{ 'articles.placeholder' | translate }}" />

  <div class="search__buttons">
    <button (click)="search()">{{ 'articles.search' | translate }}</button>
    <button (click)="createArticle()">{{ 'articles.create' | translate }}</button>
    <button (click)="toAdminPanel()">{{ 'articles.toAdminPanel' | translate }}</button>
  </div>
</div>
<div class="list">
  <h3 class="list--title">{{ 'articles.listTitle' | translate }}</h3>
  <mat-card class="list__card" *ngFor="let article of articlesList | async">
    <mat-card-title class="list__card__title">
      {{article.title}}
    </mat-card-title>
    <mat-card-actions class="list__card__buttons">
      <button (click)="openDialog(article.slug)">
        {{ 'articles.addComment' | translate }}
      </button>
      <button (click)="toUpdateArticle(article.slug)">
        {{ 'articles.edit' | translate }}
      </button>
      <button (click)="deleteArticle(article.slug)">{{ 'articles.delete' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</div>
