<div class="container">
  <form class="forms" [formGroup]="loginForm" (ngSubmit)="login()">
    <header class="title">Login panel</header>
    <div class="form">
      <span class="material-icons">email</span>
      <input 
        class="input"
        formControlName="email"
        placeholder="Type your email here"
        name="email"
        required
      />
      <div *ngIf="email.errors?.['email']">Email not valid.</div>
    </div>
    <div class="form">
      <span class="material-icons">key</span>
      <input
        class="input"
        type="password"
        formControlName="password"
        placeholder="Type your password here"
        name="password"
        required
      />
    </div>
    <div class="form">
      <button [disabled]="password.errors" class="button" type="submit">
        <span>Login</span>
      </button>
    </div>
    <div class="form form_register">
      <span>No account? Sign up</span>
      <span class="material-icons arrow" (click)="toRegisterForm()">trending_flat</span>
    </div>
  </form>
</div>
