<!-- <mat-card class="container">
    <header class="container__header">
        <div class="container__title">{{ 'email.title' | translate }}</div>
    </header>
    <mat-card-content>
        <form [formGroup]="emailForm" (ngSubmit)="sendReminder()">
            <p>
                <mat-form-field class="container__field" appearance="fill">
                    <mat-label>{{ 'email.emailPlaceholder' | translate }}</mat-label>
                    <input matInput formControlName="email" placeholder="{{ 'email.emailPlaceholder' | translate }}"
                        name="email" required>
                    <mat-error *ngIf="email.errors?.['email']">{{ 'email.emailError' | translate }}</mat-error>
                </mat-form-field>
            </p>
            <button class="container--button" mat-raised-button type="submit" color="warn">{{ 'email.submit' | translate }}</button>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <div class="container__bottom">
            <span>{{ 'email.toLoginForm' | translate }}</span>
            <button mat-button>
                <mat-icon (click)="toLoginForm()">arrow_right_alt</mat-icon>
            </button>
            <span (click)="toLoginForm()" class="material-icons container__form__field--icons arrow">trending_flat</span>
        </div>
    </mat-card-actions>
</mat-card> -->

<div class="container">
    <div class="row justify-content-center px-4 py-4">
        <div class="col-md-7 col-lg-9">
            <div class="login-wrap p-1 p-md-1">
                <h3 class="text-center py-3">{{ 'email.title' | translate }}</h3>
                <form action="#" [formGroup]="emailForm" (ngSubmit)="sendReminder()">
                    <div class="form-group py-3">
                        <input type="text" class="form-control rounded-left" formControlName="email"
                            placeholder="{{ 'email.emailPlaceholder' | translate }}" required>
                    </div>
                    <div class="form-group py-1 px-5">
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">{{ 'email.submit' | translate }}</button>
                    </div>
                </form>
                <div class="w-90 text-md-right py-3">
                    <a href="blog-login">{{ 'email.toLoginForm' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
