<div class="container">
    <div class="row justify-content-center px-4 py-4">
        <div class="col-md-7 col-lg-9">
            <div class="login-wrap p-1 p-md-1">
                <h3 class="text-center py-3">{{ 'email.title' | translate }}</h3>
                <form action="#" [formGroup]="emailForm" (ngSubmit)="sendReminder()">
                    <div class="form-group py-3">
                        <input [ngClass]="{'is-invalid' : email.errors && email.touched}" type="text" class="form-control rounded-left" formControlName="email"
                            placeholder="{{ 'email.emailPlaceholder' | translate }}" required>
                            <div class="invalid-feedback">{{ 'email.emailError' | translate }}</div>
                    </div>
                    <div class="form-group py-1 px-5">
                        <button [disabled]="!emailForm.valid" type="submit" class="form-control btn btn-primary rounded submit">{{ 'email.submit' | translate }}</button>
                    </div>
                </form>
                <div class="w-90 text-center py-3">
                    <a href="blog-login">{{ 'email.toLoginForm' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
