<div class="dialog__container">
    <div class="dialog__container--title">{{ 'user.title' | translate }}</div>
    <div mat-dialog-content class="dialog__container__field">
        <div class="dialog__container__field">
            {{ 'user.username' | translate }} {{ selectedUser?.username }}
        </div>
        <div class="dialog__container__field">
            {{ 'user.email' | translate }} {{ selectedUser?.email }}
        </div>
        <div class="dialog__container__field">
            {{ 'user.birthdate' | translate }} {{ selectedUser?.age | date }}
        </div>
    </div>
    <div class="text-center my-3 mx-2">
        <button class="btn btn-outline-success text-center" (click)="closeDialog()" cdkFocusInitial>
            {{ 'user.close' | translate }}
        </button>
    </div>
</div>
