<mat-toolbar class="search">
    <div class="search__buttons">
        <button mat-raised-button (click)="toAdminPanel()" color="primary">{{ 'users.toAdminPanel' | translate }}</button>
    </div>
</mat-toolbar>
<form>
    <mat-form-field>
        <span matPrefix></span>
        <input matInput class="search__form" type="tel" [(ngModel)]="searchTerm"
            placeholder="{{ 'users.placeholder' | translate }}" />
        <button matSuffix mat-button (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</form>
<div class="list">
    <header class="list__card--title">{{ 'users.listTitle' | translate }}</header>
    <mat-card class="list__card" *ngFor="let user of usersList$ | async">
        <mat-card-title>
            {{user.username}}
        </mat-card-title>
        <mat-card-actions class="list__card__buttons">
            <button mat-stroked-button (click)="openDialog(user.username)">{{ 'users.view' | translate }}</button>
        </mat-card-actions>
    </mat-card>
    <mat-paginator [length]="usersCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="setPaginator($event)">
    </mat-paginator>
</div>
