.container {
  background-color: #f2f2f2;
  border-radius: 7px;
  margin: 0;
  position: fixed;
  max-width: 650px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.container {
  &__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 750px;
    justify-content: center;
    text-align: -webkit-center;

    &--title {
      font-size: 30px;
      margin: 1em 0 2em 0;
      text-decoration: underline brown 4px;
    }
  }

  &_field {
    margin: 0.5em;
  }
}

.container__form__field {
  &--input {
    width: 80%;
    min-height: 2.7em;
    margin-bottom: 1.5em;
    margin-left: 0.5em;
    border: black;

    &:hover::after{
      margin-bottom: 0;
    }
  }

  &--icons {
    font-size: 30px;
    display: inline-flex;
    vertical-align: text-bottom;
  }

  &--button {
    width: 200px;
    max-width: 50%;
    height: 3em;
    border-radius: 7px;
    justify-content: center;
    border: none;
    display: flex;
    padding: 0.5em;
    background-color: #e7e7e7;

      &:hover:enabled {
      cursor: pointer;
      background-color: #dddbdb;
    }
  }

  &--login {
    margin: 2em 0 1em 0;
  }

  &--message {
    font-size: 15px;
    padding-bottom: 1em;
  }
}

.arrow:hover {
  cursor: pointer;
  opacity: 70%;
}
