<div class="container">
  <form
    class="container__form"
    [formGroup]="registerForm"
    (ngSubmit)="register()">
    <header class="container__form--title">Register panel</header>
    <div class="container__form__field">
      <span class="material-icons container__form__field--icons">person</span>
      <input
        class="container__form__field--input"
        formControlName="username"
        placeholder="Type your username here"
        name="username"
        required/>
    </div>
    <div class="container__form__field">
      <span class="material-icons container__form__field--icons">email</span>
      <input
        class="container__form__field--input"
        formControlName="email"
        placeholder="Type your email here"
        name="email"
        required/>
    </div>
    <div class="container__form__field">
      <span class="material-icons container__form__field--icons">key</span>
      <input
        class="container__form__field--input"
        type="password"
        formControlName="password"
        placeholder="Type your password here"
        name="password"
        required/>
    </div>
    <div class="container__form__field">
      <span class="material-icons container__form__field--icons">cake</span>
      <input
        class="container__form__field--input"
        type="number"
        formControlName="age"
        placeholder="Type your age here."
        name="age"
        required/>
      <div class="container__form__field--age" *ngIf="age.errors && age.touched">
        You must be over 18 to register.
      </div>
    </div>
    <div class="container__form__field">
      <button
        class="container__form__field--button"
        [disabled]="age.errors"
        type="submit">
        <span>Sign up</span>
      </button>
    </div>
    <div class="container_form__field container__form__field--login">
      <span>Already have an account? Sign in</span>
      <span
        class="material-icons container__form__field--icons arrow"
        (click)="toLoginForm()"
        >trending_flat</span>
    </div>
  </form>
</div>
