<mat-card class="container">
  <mat-card-header>
    <mat-card-title class="container__title">{{ 'register.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <p>
        <mat-form-field class="container__field" appearance="fill">
          <mat-label>{{ 'register.usernamePlaceholder' | translate }}</mat-label>
          <input matInput formControlName="username" placeholder="{{ 'register.usernamePlaceholder' | translate }}"
            name="username" required>
          <mat-error *ngIf="username.errors?.['username']">{{ 'register.usernameError' | translate }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="container__field" appearance="fill">
          <mat-label>{{ 'register.emailPlaceholder' | translate }}</mat-label>
          <input matInput formControlName="email" placeholder="{{ 'register.emailPlaceholder' | translate }}"
            name="email" required>
          <mat-error *ngIf="email.errors?.['email']">{{ 'register.emailError' | translate }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="container__field" appearance="fill">
          <mat-label>{{ 'login.passwordPlaceholder' | translate }}</mat-label>
          <input matInput type="password" formControlName="password"
            placeholder="{{ 'login.passwordPlaceholder' | translate }}" name="password" required>
          <mat-error *ngIf="password.errors?.['password']">{{ 'register.passwordError' | translate }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="container__field" appearance="fill">
          <mat-label>{{ 'register.confirmPasswordPlaceholder' | translate }}</mat-label>
          <input matInput type="password" formControlName="confirmPassword"
            placeholder="{{ 'register.confirmPasswordPlaceholder' | translate }}" name="confirmPassword" required>
          <mat-error *ngIf="confirmPassword.errors?.['confirmPassword']">{{ 'register.confirmPasswordError' | translate }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="container__field" appearance="fill">
          <mat-label>{{ 'login.rolePlaceholder' | translate }}</mat-label>
          <mat-select formControlName="role" name="role">
            <mat-option *ngFor="let option of options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="role.errors?.['role']">{{ 'register.roleError' | translate }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="container__field" appearance="fill">
          <mat-label>{{ 'register.agePlaceholder' | translate }}</mat-label>
          <input matInput formControlName="age" placeholder="{{ 'register.agePlaceholder' | translate }}" name="age"
            [matDatepicker]="picker" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="age.errors?.['age']">{{ 'register.ageError' | translate }}</mat-error>
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button class="container--button" mat-raised-button type="submit" color="warn">{{ 'register.submit' | translate }}</button>
    <div class="container__bottom">
      <span>{{ 'register.toLogin' | translate }}</span>
      <button mat-button>
        <mat-icon (click)="toLoginForm()">arrow_right_alt</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
