<div class="container">
    <form class="container__form" [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <header class="container__form--title">{{ 'password.title' | translate }}</header>
        <div class="container__form__field">
            <span class="material-icons container__form__field--icons">key</span>
            <input class="container__form__field--input" formControlName="password"
                placeholder="{{ 'password.passwordPlaceholder' | translate }}" type="password" name="password" required />
            <div *ngIf="password?.errors?.['password']">{{ 'password.passwordError' | translate }}</div>
        </div>
        <div class="container__form__field">
            <span class="material-icons container__form__field--icons">key</span>
            <input class="container__form__field--input" formControlName="confirmPassword"
                placeholder="{{ 'password.confirmPasswordPlaceholder' | translate }}" type="password" name="confirmPassword" required />
            <div *ngIf="confirmPassword?.errors?.['confirmPassword']">{{ 'password.confirmPasswordError' | translate }}
            </div>
        </div>
        <div class="container__form__field">
            <button type="submit">
                <span>{{ 'password.submit' | translate }}</span>
            </button>
        </div>
        <div class="container_form__field container__form__field--register">
            <span>{{ 'password.toLoginForm' | translate }}</span>
            <span (click)="toLoginForm()" class="material-icons container__form__field--icons arrow">
                trending_flat
            </span>
        </div>
    </form>
</div>
