<mat-card class="container">
    <mat-card-header>
        <mat-card-title class="container__title">{{ 'password.title' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
            <p>
                <mat-form-field class="container__field" appearance="fill">
                    <mat-label>{{ 'password.passwordPlaceholder' | translate }}</mat-label>
                    <input matInput formControlName="password"
                        placeholder="{{ 'password.passwordPlaceholder' | translate }}" name="password" required>
                    <mat-error *ngIf="password?.errors?.['password']">{{ 'password.passwordError' | translate }}
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="container__field" appearance="fill">
                    <mat-label>{{ 'password.confirmPasswordPlaceholder' | translate }}</mat-label>
                    <input matInput type="password" formControlName="confirmPassword"
                        placeholder="{{ 'password.confirmPasswordPlaceholder' | translate }}" name="confirmPassword"
                        required>
                    <mat-error *ngIf="confirmPassword?.errors?.['confirmPassword']">{{ 'password.confirmPasswordError' | translate }}</mat-error>
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button class="container--button" mat-raised-button type="submit" color="warn">{{ 'password.submit' | translate }}</button>
        <div class="container__bottom">
            <span>{{ 'password.toLoginForm' | translate }}</span>
            <button mat-button>
                <mat-icon (click)="toLoginForm()">arrow_right_alt</mat-icon>
            </button>
        </div>
    </mat-card-actions>
</mat-card>