<form class="container__form" [formGroup]="commentForm" (ngSubmit)="submit()">
    <h1 mat-dialog-title>{{ 'comment.titleNew' | translate }}</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field class="container__form__field" appearance="fill">
                <mat-label>{{ 'comment.placeholder' | translate }}</mat-label>
                <input matInput formControlName="body" placeholder="{{ 'comment.placeholder' | translate }}" name="body"
                    required>
                <mat-error *ngIf="body.errors?.['body']">{{ 'comment.error' | translate }}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()">{{ 'comment.close' | translate }}</button>
        <button mat-button [disabled]="!commentForm.valid" type="submit" (click)="submit()" cdkFocusInitial>{{ 'comment.update' | translate }}</button>
    </div>
</form>
