<mat-card class="container">
    <header  class="container__header">
        <div class="container__title">{{ 'login.title' | translate }}</div>
    </header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <p>
                <mat-form-field class="container__field" appearance="fill">
                    <mat-label>{{ 'login.emailPlaceholder' | translate }}</mat-label>
                    <input matInput formControlName="email" placeholder="{{ 'login.emailPlaceholder' | translate }}"
                        name="email" required>
                    <mat-error *ngIf="email.errors?.['email']">{{ 'login.emailError' | translate }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="container__field" appearance="fill">
                    <mat-label>{{ 'login.passwordPlaceholder' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password"
                        placeholder="{{ 'login.passwordPlaceholder' | translate }}" name="password" required>
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button class="container--button" mat-raised-button type="submit" (click)="login()" color="primary">{{ 'login.submit' | translate }}</button>
        <div class="container__bottom">
            <span>{{ 'login.toEmailForm' | translate }}</span>
            <button mat-button>
                <mat-icon (click)="toEmailForm()">arrow_right_alt</mat-icon>
            </button>
        </div>
    </mat-card-actions>
</mat-card>
