<div class="container">
    <div class="row justify-content-center px-4 py-4">
        <div class="col-md-7 col-lg-9">
            <div class="login-wrap p-1 p-md-1">
                <h3 class="text-center py-3">{{ 'login.title' | translate }}</h3>
                <form action="#" class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group py-1">
                        <input [ngClass]="{'is-invalid' : email.errors && email.touched}" type="text" class="form-control rounded-left" formControlName="email"
                            placeholder="{{ 'login.emailPlaceholder' | translate }}" required>
                            <div class="invalid-feedback">{{ 'login.emailError' | translate }}</div>
                    </div>
                    <div class="form-group py-1">
                        <input [ngClass]="{'is-invalid' : password.errors && password.touched}" type="password" class="form-control rounded-left" formControlName="password"
                            placeholder="{{ 'login.passwordPlaceholder' | translate }}" required>
                            <div class="invalid-feedback">{{ 'login.passwordError' | translate }}</div>
                    </div>
                    <div class="form-group py-3 px-5">
                        <button  [disabled]="!loginForm.valid" type="submit" class="form-control btn btn-primary rounded submit px-3">{{ 'login.submit'
                            | translate }}</button>
                    </div>
                </form>
                <div class="w-90 text-md-right py-3 text-center">
                    <a href="email-form">{{ 'login.toEmailForm' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
