.navbar-container {
  border-bottom: 1px solid rgb(208, 208, 208);
  padding: 16px 12px 16px 28px;
}

.card {
  height: auto;
  max-width: 1400px;
  overflow: hidden;
  width: 70%;
  margin: 3em auto 0;
}