<nav class="navbar navbar-expand-lg">
  <div class="container navbar-container">
    <a class="navbar-brand">
      Blog
    </a>
    <div>
      <button class="btn btn-primary my-2 my-sm-0 mx-4" type="button" (click)="toArticles()">Articles</button>
      <button *ngIf="(user$ | async) !== null" class="btn btn-primary my-2 my-sm-0" type="button" (click)="logout()">{{ 'articles.toLogout' | translate }}</button>
      <button *ngIf="(user$ | async) === null" class="btn btn-primary my-2 my-sm-0" type="button" (click)="login()">Login</button>
    </div>
  </div>
</nav>
<div class="card border-0">
  <div class="card-body">
    <img class="card-img py-2" [src]="fileSource" width="800px" height="400px">
    <p class="card-text"> Created at {{selectedArticle?.createdAt | date: 'short'}}</p>
    <h3 class="card-title py-2">{{ selectedArticle?.title }}</h3>
    <h6 class="card-subtitle py-2">{{ selectedArticle?.description }}</h6>
    <div class="card-text py-2">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of selectedArticle?.tagList">
          {{ tag }}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="card-text py-3">
      {{ selectedArticle?.body }}
    </div>
    <div class="card-text py-4" *ngIf="selectedArticle?.comments">
      <h5 class="card-title py-2">{{ 'article.commentsTitle' | translate }}</h5>
      <div [formGroup]="editCommentsForm">
        <ng-container formArrayName="comments">
          <ng-container *ngFor="let comment of comments; let i = index">
            <div [formGroup]="comment" *ngIf="comment.value.body">
              <span> {{ comment?.value?.author == null ? 'anonim' : comment?.value?.author }}</span>
              <ng-container *ngIf="comment?.value?.author === (user$ | async)?.username else noCommentUpdate">
                <p *ngIf="!comment.value.editable">
                  <span>{{comment?.value.date | date: 'short'}}</span>
                  <span> {{comment.value.body}}</span>
                </p>
                <textarea *ngIf="comment.value.editable" formControlName="body" name="body" type="text"
                  required></textarea>
                <button class="btn btn-primary rounded" *ngIf="!comment.value.editable" type="button"
                  (click)="toggleCommentEdit(i)">Edit comment</button>
                <button class="btn btn-primary rounded" *ngIf="comment.value.editable" type="button"
                  (click)="saveUpdatedComment(i)">Save change</button>
              </ng-container>
              <ng-template #noCommentUpdate>
                <p>{{comment?.value.date | date: 'short' }}</p>
                <p>{{comment?.value.body}}</p>
              </ng-template>
            </div>
            <hr />
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <form class="text-center" [formGroup]="createCommentForm" (ngSubmit)="submitCreateCommentForm()">
    <h5>{{ 'comment.title' | translate }}</h5>
    <div class="text-center">
      <textarea formControlName="body" name="body" type="text" required></textarea>
    </div>
    <div>
      <button class="px-4 my-3 btn btn-primary rounded" type="submit" cdkFocusInitial>{{ 'comment.save' | translate
        }}</button>
    </div>
  </form>
</div>

<div class="text-center py-4">
  <span>{{ 'article.toArticles' | translate }}</span>
  <i routerLink="/" class="bi bi-arrow-right"></i>
</div>
