<mat-card class="container">
  <mat-card-header>
    <mat-card-title class="container__form__field">{{ selectedArticle?.title }}</mat-card-title>
    <mat-card-subtitle class="container__form__field">{{ selectedArticle?.description }}</mat-card-subtitle>
  </mat-card-header>
  <img [src]="fileSource" width="300" height="150">
  <mat-card-content>
    <div class="container__form__field">
      {{ selectedArticle?.body }}
    </div>
    <div class="container__form__field">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of selectedArticle?.tagList">
          {{ tag }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>
  <div *ngIf="selectedArticle?.comments">
    <h3 class="container__form--title">{{ 'article.commentsTitle' | translate }}</h3>
    <div *ngFor="let comment of selectedArticle?.comments">
      <p>
        {{ comment.body | slice: commentIndex : commentMaxLength }}
        <span *ngIf="comment.body.length >=commentMaxLength">...</span> |
        <span *ngIf="comment.author; else anonymousComment">{{ comment.author?.username }}</span>
        <ng-template #anonymousComment>
          {{ 'articleForm.anonymous' | translate }}
        </ng-template>
        {{ comment.createdAt | date: 'dd/MM/yyyy' }} |
      </p>
    </div>
  </div>
  <mat-card-actions>
    <div class="container__form__field">
      <span>{{ 'article.toArticles' | translate }}</span>
      <span (click)="toArticles()" class="material-icons container__form__field--icons arrow">trending_flat</span>
    </div>
  </mat-card-actions>
</mat-card>

<form class="container__form" [formGroup]="commentForm" (ngSubmit)="submit()">
  <h1>{{ 'comment.title' | translate }}</h1>
  <div>
    <div>
      <input formControlName="body" name="body" type="text" required />
    </div>
  </div>
  <div>
    <button type="submit" (click)="submit()" cdkFocusInitial>{{ 'comment.save' | translate }}</button>
  </div>
</form>
