<mat-card class="container">
  <mat-card-header>
    <mat-card-title class="container__form__field">{{ selectedArticle?.title }}</mat-card-title>
    <mat-card-subtitle class="container__form__field">{{ selectedArticle?.description }}</mat-card-subtitle>
  </mat-card-header>
  <img [src]="fileSource" width="300" height="150">
  <mat-card-content>
    <div class="container__form__field">
      {{ selectedArticle?.body }}
    </div>
    <div class="container__form__field">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of selectedArticle?.tagList">
          {{ tag }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>
  <div *ngIf="selectedArticle?.comments">
    <h3 class="container__form--title">{{ 'article.commentsTitle' | translate }}</h3>
    <div [formGroup]="editCommentsForm">
      <ng-container formArrayName="comments">
        <ng-container *ngFor="let comment of comments; let i = index">
          <div [formGroup]="comment" *ngIf="comment.value.body">
            <span> {{ comment?.value?.author == null ? 'anonim' : comment?.value?.author }}</span>
            <ng-container *ngIf="comment?.value?.author === (user$ | async)?.username else noCommentUpdate">
              <p *ngIf="!comment.value.editable">
                <span>{{comment?.value.date | date: 'short'}}</span>
                {{comment.value.body}}
              </p>
              <textarea *ngIf="comment.value.editable" formControlName="body" name="body" type="text"
                required></textarea>
              <button *ngIf="!comment.value.editable" type="button" (click)="toggleCommentEdit(i)">
                Edit comment
              </button>
              <button *ngIf="comment.value.editable" type="button" (click)="saveUpdatedComment(i)">
                Save change
              </button>
            </ng-container>
            <ng-template #noCommentUpdate>
              <p>{{comment?.value.date | date: 'short' }}</p>
              <p>{{comment?.value.body}}</p>
            </ng-template>
          </div>
          <hr />
        </ng-container>
      </ng-container>
    </div>
  </div>
  <mat-card-actions>
    <div class="container__form__field">
      <span>{{ 'article.toArticles' | translate }}</span>
      <span routerLink="/" class="material-icons container__form__field--icons arrow">trending_flat</span>
    </div>
  </mat-card-actions>
</mat-card>

<form class="container__form" [formGroup]="createCommentForm" (ngSubmit)="submitCreateCommentForm()">
  <h1>{{ 'comment.title' | translate }}</h1>
  <div>
    <textarea formControlName="body" name="body" type="text" required></textarea>
  </div>
  <div>
    <button type="submit" cdkFocusInitial>{{ 'comment.save' | translate }}</button>
  </div>
</form>
