.container {
  background-color: #f2f2f2;
  border-radius: 7px;
  height: auto;
  max-width: 1200px;
  overflow: hidden;
  width: 70%;
  margin: 3em auto 0;

  &__form {
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    text-align: -webkit-center;

    &--title {
      font-size: 30px;
      font-weight: bolder;
      margin: 1em 0 2em 0;
      text-decoration: underline brown 4px;
    }
  }

  &__field {
    margin: 0.5em;
  }
}

.container__form__field {
  &--input {
    max-width: 80%;
    min-width: 80%;
    min-height: 3em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    border: black;
  }

  &--icons {
    font-size: 30px;
    display: inline-flex;
    vertical-align: text-bottom;
  }

  &--login {
    margin: 2em 0 1em 0;
  }

  &--age {
    font-size: 15px;
    padding-bottom: 1em;
  }
  
  &--message {
    font-size: 13px;
    padding-bottom: 1em;
  }

  &--img {
    margin-top: 1em;
  }
}

.arrow:hover {
  cursor: pointer;
  opacity: 70%;
}
