.container {
  background-color: #f2f2f2;
  border-radius: 7px;
  height: auto;
  max-width: 900px;
  overflow: hidden;
  width: 70%;
  margin: 3em auto 0;
  text-align: center;

  &__header {
    place-content: center;
  }

  &__title {
    font-weight: bolder;
    font-size: larger;
    margin-top: 2em;
    margin-bottom: 1.5em;
  }

  &__field {
    max-width: 750px;
    width: 100%;
    height: auto;
    text-align: left;
    margin-left: 2em;
    margin-top: 1em;

    &--button {
      margin-top: 1em;
    }

    &--image {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  &--button {
    max-width: 200px;
    width: 100%;
    margin-top: 1em;
  }

  &__bottom {
    margin: 1em;
  }
}
